@import url("color.css");

*{
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-background);
    color: var(--color-text);
    
}
main{
    width: 100%;
    margin: auto;
}
section{
    width: 85%;
    margin: auto;
    height: 100vh;
    /* text-align: center; */
}

.about{
    width: 100%;
    background-color: var(--color-white);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.saludo {
    width: 750px;
    text-align: center;
    margin-top: 25%;
}
.text_name{
    font-size: 3.5rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.write_text {
    margin: 0 auto;
    width: 500px;
    font-size: 1.5em;
    font-family: monospace;
    letter-spacing: 3px;
    border-right: 3px solid var(--color-border);
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 5s steps(40) alternate,
        cursor .4s step-end alternate infinite;
}

.scroll-down{
    position: relative;
    width: 300px;
    text-align: center;
    top: 100px;

}

.scroll-down a{
    padding: 5px;
    font-size: 24px;
    color: var(--color-text);
    border: 1px solid var(--color-border);
    background-color: var(--color-white);
    border-radius: 2px;
}

.wrap-container{
    display: flex;
    color: var(--color-text);
    margin-top: 50px;
    padding: 15px;
    justify-content: space-between;
}

.contact-text{
    width: 49%;
    align-items: normal;
    text-align: start;
}

.contact-text .title{
    font-size: 2rem;
    width: auto;
    border-bottom:1px solid  var(--color-border);
    font-style: italic;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.contact-text p{
    font-size: 18px;
    margin: 5px 10px 15px 0px;
    text-align: justify;
    font-weight: 100;
}

.contact-text a{
     text-decoration: none;
     color: var(--color-text);
     font-weight: 600;
}

.contact-form{
    margin-left: 10px;
    width: 49%;
    display: block  ;
    align-items: start;
    text-align: left;
}

.contact-form .form-group{
    padding-bottom: 0.5rem;
    position: relative;
    width: 100%;
    margin-bottom: 12px;
}

.form-group label{
    display: block;
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 0.25rem;
}
.contact-form input,textarea{
    width: 100%;
    background-color: var(--color-white);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left:0.5rem ;
    border: 1px solid var(--color-border);
    outline: none;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2px;
}

.btn-form{
    width: 100%;
    border-radius: 4px;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid var(--color-border);
    color: var(--color-white);
    background-color: var(--color-secundary);
    margin: 0 auto;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    cursor: pointer;
}
.btn-form:hover{
    background-color: var(--color-white);
    color: var(--color-secundary);
    border: 1px solid var(--color-border);
    transform: translate(4px, -4px);
    box-shadow: -8px 8px 0 var(--color-border);
    transition: ease-out 0.5s;
}

.btn-up{
    display: none;
    width: 50px;
    height: 50px;
    background-color: var(--color-secundary);
    color: #e3e3e3;
    z-index: 2;
    border-radius: 50%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: fixed;
    top: 85%;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
}

.btn-up:hover{
    border: 2px solid var(--color-secundary);
    color: var(--color-text);
    background-color: var(--color-white);

}

footer{
    width: 100%;
    background-color: var(--color-secundary);
    min-height: 100px;
    color: var(--color-white);
}

.box-container{
    width: 85%;
    margin: auto;
    padding: 15px 0 10px 0px

}

.footer-menu{
    width: 100% ;
    text-align: center;
}

.footer-menu a{
    padding:7px  10px;
}
.footer-menu a:hover{
    border-bottom: 2px solid #e3e3e3;
}
.box-container li{
    display: flex;
    list-style-type: none;
    padding: 5px;
}
.box-container a{
    color: var(--color-white);
    text-decoration: none;
}
.box-container a i{
    font-size: 24px;
}
.content-wrap{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    padding-top:5px ;
    padding-bottom: 5px;
}
.contact-info p{
    display: block;
    font-size: 16px;
    align-items: center;
    padding: 5px;
}
.contact-info p i{
    font-size: 20px;
}

.social-media{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.social-media li{
    padding: 0px 35px 0px 0px;
}
.social-media a{
    font-size: 35px;
    margin-right:5px;
}

.wrap-container .social-media a:hover{
    border-bottom: 2px solid var(--color-border);
}
.box-container .social-media{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type:none;
}

.box-container .social-media li{
    padding: 0px 10px;
}


.box-container .social-media a:hover {
    color: #e3e3e3e3;
    /* color: #a7a7a7de; */
}
.info-rights{
    display: flex;
    padding-top: 10px;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    justify-content: space-around;
    color:  #e7e3e3;
    font-style: italic;
}



/* Animations  */
/* Text animation */
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}